{{link-to 'Actors' 'actors'}}
{{link-to 'Movies' 'movies'}}

{{#if session.isAuthenticated}}
  <a {{ action 'invalidateSession' }}>Logout</a>
{{else}}
  {{#link-to 'login'}}Login{{/link-to}}
{{/if}}

{{outlet}}
